<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHS6WPstyP11ueEsrNavuCXSjkt40PjYY</string>
	<key>GCM_SENDER_ID</key>
	<string>786119628442</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uz.storehidjab.appStoreHidjab</string>
	<key>PROJECT_ID</key>
	<string>app-hidjab</string>
	<key>STORAGE_BUCKET</key>
	<string>app-hidjab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786119628442:ios:47531b04e88b9d6684b123</string>
</dict>
</plist>